@charset "UTF-8";

:root{
    --farbe1: rgb(222, 142, 146);
    --farbe2: rgb(255, 199, 197);
    --farbe3: rgb(149, 195, 191);
    --farbe4: rgb(131, 180, 176);
    --farbe5: rgb(204, 235, 229);
    --farbe6: rgba(255, 199, 197, 0.323);
    --farbe7: rgb(96, 182, 175);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: var(--farbe7);
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
}

div#image{
    height: 30vh;
    background: white url('../images/headset.jpg') center center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main h1{
    text-align: center;
    margin: 20px;
}


main p{
    font-size: 0.8em;
    text-align: justify;
    margin: 10px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
} 

section#login{
    border-radius: 10px;
}

form p label{
    background-color: var(--farbe3);
}


#iemail, #ipass{
    margin-top: 5px;
    padding: 5px;
    width: 214px;
    height: 25px;
    border-radius: 6px;
    background-color: var(--farbe6);
    border: 0.5px solid var(--farbe2);
}

#iemail:focus-visible, #ipass:focus-visible{
    background-color: white;
    border: none;
}

#btn-submit, #btn-btn{
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 1px;
    border-radius: 6px; 
}

#btn-submit{
    background-color: var(--farbe7);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.4em;
}

#btn-btn{
    background-color: white;
    color: var(--farbe7);
    border: none;
    box-sizing: border-box;
    border: 1px solid var(--farbe7);
    font-size: 1.2em;
}




