@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Gruppo&family=Luckiest+Guy&family=Montserrat:ital,wght@0,300;1,300&family=Paytone+One&display=swap');


:root{
    --farbe1: rgb(222, 142, 146);
    --farbe2: rgb(255, 199, 197);
    --farbe3: rgb(149, 195, 191);
    --farbe4: rgb(131, 180, 176);
    --farbe5: rgb(204, 235, 229);
    --farbe6: rgba(255, 199, 197, 0.323);
    --farbe7: rgb(96, 182, 175);
    --font1: "Gruppo", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: var(--farbe7);
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

div#image{
    height: 210px;
    background: white url('../images/headset.jpg') center center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main h1{
    text-align: center;
    margin: 30px;
    font-family: var(--font1);
}

.texto{
    width: 290px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 0.9em;
}


main p{
    font-size: 0.8em;
    text-align: justify;
    margin: 10px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
} 

section#login{
    border-radius: 10px;
}

form p label{
    background-color: var(--farbe3);
}


#iemail, #ipass{
    margin-top: 5px;
    padding: 5px;
    width: 290px;
    height: 25px;
    border-radius: 6px;
    background-color: var(--farbe6);
    border: 0.5px solid var(--farbe2);
}

#ipass{
    margin-bottom: 10px;
}

#iemail:focus-visible, #ipass:focus-visible{
    background-color: white;
    border: none;
}

#btn-submit, #btn-btn{
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 1px;
    border-radius: 6px; 
}

#btn-submit{
    background-color: var(--farbe7);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.4em;
}

#btn-submit:hover, #btn-btn:hover{
    background-color: var(--farbe5);
    color: var(--farbe4);
}

#btn-btn{
    background-color: white;
    color: var(--farbe7);
    border: none;
    box-sizing: border-box;
    border: 1px solid var(--farbe7);
    font-size: 1.2em;
    margin-bottom: 20px;
}




